# --- JAVA & COMPILAÇÃO ---
*.class
/build/
**/build/
out/
bin/

# --- GRADLE (Tudo) ---
.gradle/
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle

# --- INTELLIJ (Tudo) ---
.idea/
*.iml
*.iws
*.ipr

# --- SISTEMA ---
.DS_Store
Thumbs.db